<h1>New Appearance Form</h1>

<%= form_for @appearance do |f| %>
	<%= f.label :episode_id %>
	<%= f.collection_select :episode_id, @episodes, :id, :number %><br/><br/>

	<%= f.label :guest_id %>
	<%= f.collection_select :guest_id, @guests, :id, :name %><br/><br/>

	<%#= f.label :rating %>
	<%#= f.text_field :rating %>

	<%= f.label :rating %>
	<%= f.select :rating, (1..5) %><br/><br/>

	<%= f.submit %>
<% end %>
